body {
    background-color: #283618;
    font-size: 150%;   
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background-color: #FEFAE0; 
}

h1 {
  text-align: center;
  padding: 30px;
  color: #283618;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
 
}

nav { /* This sets the banner width heigh and color*/
    width: 100%;
    height: 70px;
    background-color: #606C38;
}

nav ul {/*Says where the stuff should be anchored*/
    float: left;
}

/* ~~~~~~~~First Menu~~~~~~~*/

nav ul li {
    float: left;
    list-style: none;
    line-height: 25px;
    position: relative;
}


nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #FEFAE0;
}


nav ul li ul {
    display: none;
    position: absolute;
    background-color: #606C38;
    padding: 0px 40px;
    border-radius: 0px 0px 8px 8px;
}

nav ul li:hover ul {
    display: block;

}

nav ul li ul li {
    width: 100px;
    border-radius: 8px;
}

nav ul li ul li a {
    padding: 10px 10px;
}

nav ul li ul li a:hover {
    background-color: #283618;
}
/* ~~~~~~~~Second Menu~~~~~~~*/

nav ul li2 {
    float: left;
    list-style: none;
    line-height: 20px;
    position: relative;
}


nav ul li2 a {
    display: block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    color: #FEFAE0;
}


nav ul li2 ul {
    display: none;
    position: absolute;
    background-color:#606C38;
    padding: 0px 40px;
    border-radius: 0px 0px 8px 8px;
}


nav ul li2:hover ul {
    display: block;

}

nav ul li2 ul li {
    width: 280px;
}

nav ul li2 ul li a {
    padding: 10px 10px;
}

nav ul li2 ul li a:hover {
    background-color:  #283618;
}

h2 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 25px;
    color: #FEFAE0;
    background-image: url(images/Creuse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
    font-size: 55px;
 }

 h3 {
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    padding-left: 50px;
    height: 30px;
    color: #DDA15E;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
#About {
    color: rgb(0, 63, 0);
    
}

.smalltext {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


.right {
    float: right;  
}

.lefttext {
    padding-top: 25px;
    
}

.under {
    padding-top: 65px;
}

.snow-pictures {
    padding-left: 35px;
}

#trees {
    padding-bottom: 65px;
}

#ice {
    padding-left: 60px
}

#snowboi {
    padding-right: 65px;
    padding-bottom: 50px;
}

#snowhouse {
    padding-bottom: 90px;
}

.slideshow-container {
    width:100%;
    position: relative;
    margin-left: 125px;
}

.display-left {
    position:absolute;
    left: 330px;
}

.display-right {
    position:absolute;
    left: 365px;
}

#spook {
    padding-top: 100px;
}
#colors{
    padding-right: 20px;
}
.hallows {
    padding-top: 15px;
    padding-right: 25px;
}

.scenery {
    padding-left: 32px;
}

#rapids {
    padding-right: 25px;
    padding-bottom: 35px;
}

#monet {
    padding-top: 155px;
}

#monets {
    padding-left: 105px;
}

#aubu {
    padding-left: 205px;
}

#tapestry-text{
    padding-top: 55px;
}

#tapestry {
    padding-left: 105px;
}

#bridge {
    padding-left: 300px;
}

.slideshow {
    padding-left: 190px;
}

.right {
    float: center;

}

#right {
    float: left;
}

.castle {
    padding-left: 105px;
}

#window {
    padding-left: 30px;
}

a {
    text-decoration: none;
}

p a:visited { 
    color:#DDA15E;
}

p a:hover {
    color:#BC6C25;
}
h2 a:visited {
    color: white;
}

h3 a:visited {
    color: #DDA15E;
}

h3 a:hover {
    color:#BC6C25;
}

#chamb {
    padding-left: 112px;
    padding-bottom: 25px;
}

details {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

details:hover {
    color: #BC6C25;
}

details > p {
    color: black;
    font-weight: normal;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #606C38;
    color: #FEFAE0
}
