body {
    color: white; /* the text color for the whole document*/
    background-color: #333;
    font-size: 150%;
    margin: 5em 25%;
    
}
h1 {
  text-align: center;
  padding: 30px;
  background-color: lightpink;
  font-family: 'Satisfy', cursive;
}
